// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;

body {
  font: 100% $font-stack;
}

p {
  margin: 0 auto;
  padding: 10px;
  border-left: 5px solid #999;
  font-size: 18px;
  font-weight: bold;
}

.answer {
  background-color: #FEFFE0;
}

.who {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

.bar {
  padding: 8px;
}
